/* dongle.overlay */
/ {
    chosen {
        /* 가상의 키 스캔 (동글은 키가 없으니까) */
        zmk,kscan = &mock_kscan;
        /* [중요] 로그를 뱉을 통로로 USB 시리얼(cdc_acm_uart)을 선택 */
        zephyr,console = &cdc_acm_uart;
    };

    mock_kscan: kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
